In [2]:
a,b=5,10
a,b=b,a
print(a," ",b)

10   5

```Java

class swap{
    public static void main(String args[])
        {int a=15,b=5,temp;
         temp=a;
         a=b;
         b=temp;
        }
     }
     
```

In [10]:
x='''
abc
def
ajksld
'''
#multiline string

In [11]:
print(type(x))
print(x)

<class 'str'>

abc
def
ajksld

In [20]:
#single line comment
'''
multi line comment
'''

'\nmulti line comment\n'

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

# Functions

In [15]:
def name():
    print('Hello World!')

In [16]:
name()

Hello World!

In [17]:
print(__name__)

__main__

## Inbuilt Data Structures

In [22]:
list1=[1,2,3,"abc",3.5]
type(list1)

list

In [23]:
print(list1)
len(list1)

[1, 2, 3, 'abc', 3.5]

5

In [24]:
for i in list1:
    print(i)

1
2
3
abc
3.5

In [29]:
for e,i in enumerate(list1):
    print(e," : ",i)              #Data Unpacking

0  :  1
1  :  2
2  :  3
3  :  abc
4  :  3.5

In [28]:
for e,i in enumerate(list1,5):
    print(e," : ",i)

5  :  1
6  :  2
7  :  3
8  :  abc
9  :  3.5

## Sets

In [45]:
a = [1,2,2,2,1,2,3,4,5,5,4,1,5,3,2]
print(min(a))
print(max(a))
set(a)

1
5

{1, 2, 3, 4, 5}

In [31]:
{1,2,2,6,1,2,4,5,5,1,2}

{1, 2, 4, 5, 6}

## Dictionary

In [41]:
d={
    "Name":"Nirantak",\
    "Age":21,
    "Country":"India"              #JSON Format
}

In [42]:
type(d)

dict

In [36]:
d.keys()

dict_keys(['name', 'age', 'Country'])

In [37]:
d.values()

dict_values(['nirantak', 21, 'India'])

In [44]:
#For loop for Dictionaries
#Not Pythonic Way
for key,value in d.items():
    print(key,"=",value)
    
#Pythonic Way
for key,value in d.items():
    print("{} is equal to {}".format(key,value))    #{} are called placeholders. Work as %d in C.

Name = Nirantak
Age = 21
Country = India
Name is equal to Nirantak
Age is equal to 21
Country is equal to India

# docs.python.org